.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
.padding20px{
  margin-top: 20px !important;
}
.paddingtop{
  font-size: 30px;
  padding-top: 50px;
}
.padding30px{
    padding-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    -moz-font-feature-settings: "swsh"
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position:absolute;
    height: 100%;
    overflow: none;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    font-size: 20px;
   
  font-weight: 500px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: lightgreen;
    color: black;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;}
    }

.kotak_dasboard {
  position: relative;
 
  border-radius: 10px;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 20px;
      width: 500px !important;
      height: 300px !important;
     
    }
  .lebarprogres{
    height: 30px !important;
    margin-top: 40px !important; 
  }
  
  .progres3{    
    margin-left: 50px;
    width: 80%;
    outline-color: white;
    align-content: center;
    outline-style: auto;
}
.lebarform{
  width: 50% !important;
}
.lingkaran{
  background-image: url(picture/pp.jpg);
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 60px;
}